*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

.homesection p{
    text-transform: lowercase;
    color: antiquewhite;

}

:root{
    --black: black;
    --white: white;    
}

section{
    padding: 5rem 9%;
    background-color: whitesmoke;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.homesection{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://alpha.aeon.co/images/26bbf283-3293-483d-99fc-1c1b0369d073/header_essay-final-freud-aeon.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

.homesection h1{
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 3rem;
    color: var(--white);
}

.button{
    color:var(--white);
    font-weight: 400;
    font-size: 1.7rem;
    border: 0.1rem solid white;
    border-radius: 10rem;
    padding: 1.5rem 2rem;
    margin-top: 3rem;
}

.button:hover{
   background:  black;
   color: var(--white);
}

.homsection p{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 4rem;
    text-transform: none;
    color:var(--black)
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 5rem 9%;
    display: flex;
    align-items: center;
    z-index: 100;
}

.header .logo{
    margin-right: auto;
    font-size: 3rem;
    color:var(--white);
    font-weight: 700;
}

.header .logo span{
    font-weight: normal;
    font-size: 3rem;
    font-style: italic;
}


.header .navbar a {
    font-size: 1.7rem;
    text-transform: capitalize;
    color: var(--white);
    padding: 1.2rem;
}

.header .menu{
    font-size: 2rem;
    color: var(--white);
    display: flex;
}

.homesection .btn{
   background-color: none;
}

.header.active{
   background: white;
   padding: 3rem 9%;
   box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.header.active .logo, 
.header.active .navbar a{
    color: black;
}

.defences .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}
.defences .box-container .box p{
    padding-top: 4rem;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: black;
    text-transform: none;
}

.defences  .box-container h1{
    font-size: 4rem;
}

.defences .box-container .box h3{
    font-style: italic;
    text-decoration: underline;
    padding-top: 5rem;
    font-size: 2.4rem;
    color: firebrick;
}

br{
    background-color: black;
}

.defences .box-container .box .image{
    height: 40%;
}

.defences .box-container .box .image img{
    padding-top: 10rem;
    padding-left: 15rem;
    object-fit: cover;
    height: 250%;
    width: 100%;
}


.about{
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: center;
}

.about .box-container h1 {
   font-size: 4rem;
}

.about .box-container .box .image{
    height: 40%;
}

.about .box-container .box .image img{
    object-fit: cover;
    height: 50rem;
}

.about .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 10rem;
}
.about .box-container .box p{
    padding-top: 4rem;
    font-size: 1.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    color: black;
    text-transform: none;
}


